<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Green Byte Bistro - <%= category %> Menu</title>
</head>
<body>
<%- include('./partials/nav') %>
<h1><%= category %> Menu</h1>

<ul>
    <% menuItems.forEach(item => { %>
    <li>
        <strong><%= item.name %></strong><br>
        Price: $<%= item.price.toFixed(2) %><br>
        Rating: <%= item.rating %>/5<br>
        <%= item.details %>
    </li>
    <% }) %>
</ul>
</body>
</html>
